body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding: 0;
  background-color: hsla(288, 6%, 34%, 0.561); 
 /*  background-image: url("https://images8.alphacoders.com/105/1054256.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  font-family:'Courier New', Courier, monospace;
  font-size: 1.5em
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  background: rgb(26, 188, 156);
  background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
  background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
}

.bartop img{
  width: 50px;
  height: 50px;
  float: right;
}
.bartop{
  background: rgb(26, 188, 156); 
  text-align: center;
}

/* Global */
.container{
  display: flex;
  margin:auto;
  overflow:hidden; 
  justify-content: center;
}

/* imagend de python */
#iam{
  
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}


.About{
  text-align: center;
}

.contac{  
  text-align: center;
}

#git{
  height: 48px;
  width: 48px;
}
#git:hover{
  
  opacity: 1;
  transform: scale(1.5);

}
#w:hover{
  opacity: 1;
  transform: scale(1.5);}

#lk:hover{
  opacity: 1;
  transform: scale(1.5);
}

  #gm:hover{
  opacity: 1;
  transform: scale(1.5);
  }

.aut img{
  height: 500px;
  width: 500px;
}

.aut{
  text-align: center;
}


.aut p{
  display: flex;
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',;
}

.email-spam{
  text-align: center;
}
.email-spam img{
  height:500px;
  width:500px;
}